@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
    --pri: #0f2215;
    --sec: #edfff1;
    --tri: #ffffff;
    --button: #99f04c;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Montserrat;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    padding: 0px 17px 0px 17px;
    color: var(--pri);

}

nav {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1;
    top: 0%;

}

button {
    border-radius: 60px;
    font-size: 13px;
    font-weight: 500;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
    padding-left: 10px;

}

button i {
    border-radius: 50%;
    margin: 3px;
    margin-left: 8px;
    font-size: 20px;
    padding: 5px;
}

#logo img {
    height: 100%;
    width: 70px;
    margin-left: 10px;
}

#features ul {
    display: flex;
    gap: 20px;
    font-size: 14px;
    list-style: none;
}

#features ul a {
    color: var(--pri);
    text-decoration: none;
}

#right {
    display: flex;
    align-items: center;
    gap: 13px;
}

#right #search {
    color: var(--pri);
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}

#right button {
    background-color: var(--pri);
    color: var(--tri);
}

#right button i {
    color: var(--pri);
    background-color: var(--tri);
}

.sections .starter .parent .radius {
    border-radius: 10px;
}

.sections .starter .parent {
    margin-top: 20px;
    margin-bottom: 55px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 92vh;
    width: 100%;
    gap: 10px;
    overflow: hidden;

}

.sections .starter .parent .div1 {
    background-color: var(--sec);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    grid-area: 1 / 1 / 4 / 4;
}

.parent .div1 h4 {
    font-weight: 500;
    margin: 5px;
}

.parent .div1 h1 {
    text-align: center;
    margin: 10px;
    font-size: 40px;
    font-weight: 600;
}

.parent .div1 button {
    background-color: var(--button);
    color: var(--pri);
    font-weight: 600;
    margin: 10px;
}

.parent .div1 button i {
    background-color: var(--tri);
    color: var(--pri);
}

.sections .starter .parent .div2 {
    grid-area: 1 / 4 / 6 / 6;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.parent .div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.parent .div2 h4 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: var(--tri);
    padding: 10px 13px 20px 15px;
    border-radius: 10px;
}


.sections .starter .parent .div3 {
    grid-area: 4 / 1 / 6 / 3;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent .div3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.704);
    padding: 20px;
    font-weight: 600;
    border-radius: 20px;
}


.sections .starter .parent .div4 {
    grid-area: 4 / 3 / 6 / 4;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

}

.parent .div4 .customer-blog {
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    left: -5%;
    top: -5%;
}

.parent .div4 .customer-blog img {
    width: 40%;
    height: 10%;
    object-fit: cover;
    border-radius: 50px 50px 50px 0px;
}

.parent .div4 .customer-blog h3 {
    background-color: var(--tri);
    border-radius: 0px 50px 50px 50px;
    padding: 7px 15px;
    margin: 0;
    line-height: 1;
    display: inline-flex;
    align-items: center;
}

.parent .div4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 50px 20px;

}

.parent .div4 .blog-text {
    position: absolute;
    text-align: right;
    left: 10px;
    bottom: 10px;
    right: -3%;
    bottom: -3%;
}

.blog-text h3 {
    background-color: var(--tri);
    border-radius: 50px 0px 0px 50px;
    padding: 5px 13px 13px 15px;
    display: inline-flex;
}

.about-us-section {
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: var(--sec);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    position: relative;
}

.about-us-section .about-us-content h2 {
    margin: 30px;
    background-color: var(--tri);
    border-radius: 55px;
    padding: 6px 15px;
    border: solid 1px var(--button);
    font-size: 15px;
}

.about-us-section .about-us-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.about-us-section .about-us-content button {
    margin: 10px;
    background-color: var(--button);
}

.about-us-content h3 {
    font-size: 20px;
    font-weight: 500;
}

.about-us-content h3 span {
    font-weight: bold;
}

.about-us-content p {
    width: 70%;
    margin: 10px;
    font-size: 13px;
}

.about-us-content i {
    background-color: var(--tri);
    color: var(--pri);
}

.about-us-content img {
    height: 200px;
    width: 150px;
    position: absolute;
}

.about-us-content #img1 {
    top: 10%;
    left: 15%;
    transform: rotate(15deg);
}

.about-us-content #img2 {
    top: 10%;
    right: 15%;
    transform: rotate(-9deg);
}

.about-us-content #img3 {
    bottom: 13%;
    right: 10%;
    transform: rotate(15deg);
}

.about-us-content #img4 {
    left: 10%;
    bottom: 15%;
    transform: rotate(-30deg);
}

/* Product section */

.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-section h2 {
    margin: 10px;
    background-color: var(--tri);
    border-radius: 55px;
    padding: 6px 15px;
    border: solid 1px var(--button);
    font-size: 15px;
}

.product-section h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 10px;
}

.product-section .parent {
    margin-bottom: 55px;
    position: relative;
    height: 70vh;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
    overflow: hidden;


}



.product-section .parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.product-section .parent .product {
    position: relative;
    border-radius: 20px;

}

.product-text {
    position: absolute;
    bottom: 14px;
    left: 14px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    z-index: 10;
}

.product-price {
    position: absolute;
    top: 12px;
    right: 12px;
    /* background: rgba(255, 255, 255, 0.9); */
    backdrop-filter: blur(6px);


    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 20px;
    z-index: 10;
}


/* optional gradient for better readability */
.product::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.776),
            rgba(0, 0, 0, 0.017));
    z-index: 5;
    border-radius: 20px;
}

.product-text,
.product i {
    z-index: 10;
}


.product-section .parent .product i {
    font-size: 40px;
    padding: 10px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: -1%;
    z-index: 10;
    right: -1%;
}


.product-section .parent .div1 {

    grid-area: 1 / 1 / 3 / 3;
}

.product-section .parent .div2 {

    grid-area: 1 / 3 / 3 / 5;
}

.product-section .parent .div3 {

    grid-area: 1 / 5 / 3 / 7;
}

.product-section .parent .div4 {
    grid-area: 3 / 1 / 5 / 3;
}

.product-section .parent .div5 {
    grid-area: 3 / 3 / 5 / 5;
}

.product-section .parent .div6 {

    grid-area: 3 / 5 / 5 / 7;
}

/* Why-Choose-Us-Section */

.why-choose-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sec);
    border-radius: 20px;
    padding: 20px;
}

.why-choose-us-section h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: var(--tri);
    border-radius: 55px;
    padding: 6px 15px;
    border: solid 1px var(--button);
    font-size: 15px;
}

.why-choose-us-section h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 10px;
}

.why-choose-us-section .parent {
    margin-bottom: 10px;
    position: relative;
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    gap: 10px;
}

.why-choose-us-section .parent .card {
    padding: 20px;
    background-color: var(--tri);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    text-align: left;
}

.why-choose-us-section .parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.why-choose-us-section .parent .card h1 {
    font-weight: 600;
    font-size: 30px;
}

.why-choose-us-section .parent .card p {
    font-size: 14px;
    margin-left: 10px;
}

.why-choose-us-section .parent .card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.why-choose-us-section .div1 {
    grid-area: 1 / 1 / 5 / 3;
}

.why-choose-us-section .div2 {
    grid-area: 1 / 3 / 3 / 4;
}

.why-choose-us-section .div3 {
    grid-area: 1 / 4 / 3 / 5;
}

.why-choose-us-section .div4 {
    grid-area: 3 / 3 / 5 / 4;
}

.why-choose-us-section .div5 {
    grid-area: 3 / 4 / 5 / 5;
}

/* Testimonial section*/

.testimonial-section {
    margin: 20px 0px;
    border-radius: 20px;
    height: 65vh;
    width: 100%;
    background-color: rgb(245, 244, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.testimonial-section h2 {
    width: fit-content;
    background-color: var(--tri);
    border-radius: 55px;
    padding: 6px 15px;
    border: solid 1px var(--button);
    font-size: 15px;
}

.testimonial-section h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 25px 0px;
}

.testimonial-section .customer-reviews-text {
    width: 350px;
}

.customer-reviews-text p {
    font-size: 14px;
    margin: 10px;
}

.customer-reviews-text p span {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.customer-reviews-text .location {
    color: gray;
}


.testimonial-section .customer-reviews {
    position: relative;
    overflow: hidden;
    border: solid 6px var(--tri);
    border-radius: 30px;
}

.testimonial-section .customer-reviews .main {
    display: block;
    height: 350px;
    width: 500px;
    border-radius: 30px;
    object-fit: cover;

    filter: blur(0.5px);
    transition: 0.3s ease;

}

.testimonial-section .customer-reviews .child {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    position: absolute;
    bottom: 0.1px;
    right: 0.1px;
    z-index: 2;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
    border: 2px solid #fff;
    transform: scale(1.05);
}

.customer-reviews .super-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10px;
    left: -5px;
    z-index: 2;
    background-color: var(--tri);
    border-radius: 30px;
    padding: 15px 10px;
}

.customer-reviews .super-child img {
    border-radius: 50%;
    height: 40px;
}

.customer-reviews .rating {
    position: absolute;
    top: 12px;
    right: 12px;
    background: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(1px);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 20px;
    z-index: 10;
}

.customer-reviews .rating i {
    color: gold;
    font-size: 16px;
}

.customer-reviews .rating h3{
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    margin: 5px;
} 